.l-icon{ width:16px; height:16px; overflow:hidden;}
.l-icon-add{ background:url('../images/icon/add.gif') no-repeat center;}
.l-icon-edit{ background:url('../images/icon/edit.gif') no-repeat center;}
.l-icon-view{ background:url('../images/icon/view.gif') no-repeat center;}
.l-icon-delete{ background:url('../images/icon/delete.gif') no-repeat center;}
.l-icon-back{ background:url('../images/icon/back.gif') no-repeat center;}
.l-icon-bluebook{ background:url('../images/icon/bluebook.gif') no-repeat center;}
.l-icon-bookpen{ background:url('../images/icon/bookpen.gif') no-repeat center;} 
.l-icon-coffee{ background:url('../images/icon/coffee.gif') no-repeat center;}
.l-icon-cut{ background:url('../images/icon/cut.gif') no-repeat center;}
.l-icon-discuss{ background:url('../images/icon/discuss.gif') no-repeat center;} 
.l-icon-graywarn{ background:url('../images/icon/graywarn.gif') no-repeat center;}
.l-icon-greenwarn{ background:url('../images/icon/greenwarn.gif') no-repeat center;}
.l-icon-help{ background:url('../images/icon/help.gif') no-repeat center;}
.l-icon-home{ background:url('../images/icon/home.gif') no-repeat center;}
.l-icon-lock{ background:url('../images/icon/lock.gif') no-repeat center;}
.l-icon-logout{ background:url('../images/icon/logout.gif') no-repeat center;}
.l-icon-mailbox{ background:url('../images/icon/mailbox.gif') no-repeat center;}
.l-icon-memeber{ background:url('../images/icon/memeber.gif') no-repeat center;}
.l-icon-modify{ background:url('../images/icon/modify.gif') no-repeat center;}
.l-icon-msn{ background:url('../images/icon/msn.gif') no-repeat center;}
.l-icon-ok{ background:url('../images/icon/ok.gif') no-repeat center;}
.l-icon-outbox{ background:url('../images/icon/outbox.gif') no-repeat center;}
.l-icon-pager{ background:url('../images/icon/pager.gif') no-repeat center;}
.l-icon-photograph{ background:url('../images/icon/photograph.gif') no-repeat center;}
.l-icon-prev{ background:url('../images/icon/prev.gif') no-repeat center;}
.l-icon-print{ background:url('../images/icon/print.gif') no-repeat center;}
.l-icon-qq{ background:url('../images/icon/qq.gif') no-repeat center;}
.l-icon-refresh{ background:url('../images/icon/refresh.gif') no-repeat center;}
.l-icon-right{ background:url('../images/icon/right.gif') no-repeat center;}
.l-icon-save-disabled{ background:url('../images/icon/save-disabled.gif') no-repeat center;}
.l-icon-save{ background:url('../images/icon/save.gif') no-repeat center;}
.l-icon-search{ background:url('../images/icon/search.gif') no-repeat center;}
.l-icon-search2{ background:url('../images/icon/search2.gif') no-repeat center;}
.l-icon-settings{ background:url('../images/icon/settings.gif') no-repeat center;}
.l-icon-TRUE{ background:url('../images/icon/true.gif') no-repeat center;}
.l-icon-up{ background:url('../images/icon/up.gif') no-repeat center;}
.l-icon-down{ background:url('../images/icon/down.gif') no-repeat center;}
.l-icon-role{ background:url('../images/icon/role.gif') no-repeat center;}
.l-icon-config{ background:url('../images/icon/config.gif') no-repeat center;}

.l-icon-process{ background:url('../images/icon/process.gif') no-repeat center;}
.l-icon-archives{ background:url('../images/icon/archives.gif') no-repeat center;}
.l-icon-attibutes{ background:url('../images/icon/attibutes.gif') no-repeat center;}
.l-icon-busy{ background:url('../images/icon/busy.gif') no-repeat center;}
.l-icon-calendar{ background:url('../images/icon/calendar.gif') no-repeat center;}
.l-icon-comment{ background:url('../images/icon/comment.gif') no-repeat center;}
.l-icon-plus{ background:url('../images/icon/plus.gif') no-repeat center;}
.l-icon-communication{ background:url('../images/icon/communication.gif') no-repeat center;}
.l-icon-customers{ background:url('../images/icon/customers.gif') no-repeat center;}
.l-icon-database{ background:url('../images/icon/database.gif') no-repeat center;}
.l-icon-myaccount{ background:url('../images/icon/myaccount.gif') no-repeat center;}
